:root {
  --color-1: #d72020;
  --color-2: #ec8c32;
  --color-3: #f5f4f3;
  --color-4: #232323;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--p-font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-3);
  margin-inline: 20vw;
  height: 100vh;
  display: block;
}

@media only screen and (max-width: 1000px) {
  body {
    margin-inline: 0px;
  }
}