:root {
  --p-font-color: #d72020;
  --s-font-color: #ec8c32;
  --p-bg-color: #f5f4f3;
  --s-bg-color: #65e6ed;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--p-font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--p-bg-color);
  margin-inline: 20vw;
  height: 100vh;
  display: block;
}